<div class="card">
    <h2>Вход</h2>
    <form method="post" action="/auth/login">
        <div><input type="text" name="Username" placeholder="Имя" required /></div>
        <div style="margin-top:10px;"><input type="password" name="Password" placeholder="Пароль" required /></div>
        <div style="margin-top:15px;"><button type="submit">Войти</button></div>
    </form>
    <p>Тестовые данные: <code>advuser1 / adv1pass</code> или <code>advuser2 / adv2pass</code></p>
</div>